body {
  margin: 0;
  height: 100svh;
  width: 100svw;
  background-color: #e6edfd;
  box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

p {
  margin: 0;
}

@font-face {
  font-family: '18vag';
  src: url(~fonts/18VAG-Rounded-M-Normal.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cataneo';
  src: url(~fonts/Cataneo-BT-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@media #{$desktop-breakpoint} {
  body {
    // padding: get-desktop-size(20);
  }
}
