body {
  margin: 0;
  height: 100svh;
  width: 100svw;
  background-color: #e6edfd;
  box-sizing: border-box;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

p {
  margin: 0;
}

@font-face {
  font-family: '18vag';
  src: url(~fonts/18VAG-Rounded-M-Normal.ttf);
  font-weight: 500;
  font-style: normal;
}
